body {
    max-height: 100vh;
    background-color: #f7d160c0;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    color: #2A2F4F;
    font-size: 2.5rem;
    margin: 2rem;
    padding: 2rem;
}

h2 {
    color: #2A2F4F;
    font-size: 2rem;
}

.box {
    max-width: 500px;
    min-height: auto;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}

.box1 {
    text-align: left;
    font-size: 1.5rem;
}

#message {
    font-size: 1.5rem;
    color: #2A2F4F;
}